In [2]:
import pandas as pd
import klib as kl

In [3]:
pcs_data = pd.read_csv('./validated_csv.csv', index_col=False)
project_type = pd.read_csv('./project_types.csv')

/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_1257/1144237931.py:1: DtypeWarning: Columns (4,13,17,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  pcs_data = pd.read_csv('./validated_csv.csv', index_col=False)

In [4]:
pcs_data = pcs_data.iloc[:, 2:]
pcs_data.head(5)

,division,subdivision,item_code,description,quantity,unit,labor_hourly_rate,man_hrs_per_unit,total_man_hours,labor_total,...,projectId,phaseId,contentId,fileId,source_file_name,unit_7,quantity_6,unit_cost_24,total_mat_lab_equip_28,unit_cost_23
0,NaN,NaN,NaN,Estimated Project Total,1.0,NaN,$-,$-,$-,$-,...,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,MDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMC...,Snapfinger 100 pc Comparison 050724.xlsx,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,"Standard Manhole, 7-foot or larger Diameter (d...",1.0,EA,$-,$-,$-,$-,...,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,MDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMC...,Snapfinger 100 pc Comparison 050724.xlsx,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,"Standard Manhole, 8-foot diameter, (depth up t...",84000.0,EA,$-,$-,$-,$-,...,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,MDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMC...,Snapfinger 100 pc Comparison 050724.xlsx,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Escalation and Cost Growth,1.0,NaN,$-,$-,$-,$-,...,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,MDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMC...,Snapfinger 100 pc Comparison 050724.xlsx,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,"Standard Manhole, 7-foot diameter, (depth up t...",17969.0,EA,$-,$-,$-,$-,...,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,MDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMC...,Snapfinger 100 pc Comparison 050724.xlsx,NaN,NaN,NaN,NaN,NaN

In [5]:
project_type = kl.clean_column_names(project_type)
project_type = project_type.iloc[:, 2:]
project_type.head(5)

,subcategory,type,project_category,construction_category,source,id,created_at,updated_at,rid,self,etag,attachments,pk_type,pk_filter,ts,account_id,updated_by_id
0,10,"Warehouse (10 percent maximum office area, but...",Offices & Warehouses,Commercial,0,709e86bb-a2bf-4fbe-bffd-dc8540df83cb,2022-01-18T21:37:24.3392757+00:00,2022-01-18T21:37:24.3392757+00:00,VOd7ALuXooIm7wAAAAAAAA==,dbs/VOd7AA==/colls/VOd7ALuXooI=/docs/VOd7ALuXo...,"""2a006f8e-0000-0200-0000-676c82be0000""",attachments/,projectType,20240330,1735164606,NaN,NaN
1,11,"Large Mercantile Store,",Retail,Commercial,0,1a3d5500-bcf3-4784-8109-b79d00a1f912,2022-01-18T21:37:24.3738013+00:00,2022-01-18T21:37:24.3738014+00:00,VOd7ALuXooIn7wAAAAAAAA==,dbs/VOd7AA==/colls/VOd7ALuXooI=/docs/VOd7ALuXo...,"""2a00708e-0000-0200-0000-676c82be0000""",attachments/,projectType,20240330,1735164606,NaN,NaN
2,12,Factory (excluding tenant fit-up),Retail,Commercial,0,746ad014-c257-4fb2-be68-41345151ffdc,2022-01-18T21:37:24.4715998+00:00,2022-01-18T21:37:24.4715999+00:00,VOd7ALuXooIo7wAAAAAAAA==,dbs/VOd7AA==/colls/VOd7ALuXooI=/docs/VOd7ALuXo...,"""2a00718e-0000-0200-0000-676c82be0000""",attachments/,projectType,20240330,1735164606,NaN,NaN
3,13,Warehouses,Offices & Warehouses,Commercial,0,ef6fbea4-fbd0-4dd3-a4d9-497e8dbdfe14,2022-01-18T21:37:24.571565+00:00,2022-01-18T21:37:24.571565+00:00,VOd7ALuXooIp7wAAAAAAAA==,dbs/VOd7AA==/colls/VOd7ALuXooI=/docs/VOd7ALuXo...,"""2a00728e-0000-0200-0000-676c82be0000""",attachments/,projectType,20240330,1735164606,NaN,NaN
4,14,Barn,Offices & Warehouses,Commercial,0,dc079f6a-b0cf-41f8-a173-0cc055f87d5a,2022-01-18T21:37:24.6713281+00:00,2022-01-18T21:37:24.6713281+00:00,VOd7ALuXooIq7wAAAAAAAA==,dbs/VOd7AA==/colls/VOd7ALuXooI=/docs/VOd7ALuXo...,"""2a00738e-0000-0200-0000-676c82be0000""",attachments/,projectType,20240330,1735164606,NaN,NaN

In [6]:
project_type = project_type[['project_category', 'construction_category', 'id']]

In [7]:
merged = pd.merge(pcs_data, project_type, how='left', left_on='projectTypeId', right_on='id')

In [8]:
merged.columns

Index(['division', 'subdivision', 'item_code', 'description', 'quantity',
       'unit', ' labor_hourly_rate ', ' man_hrs_per_unit ',
       ' total_man_hours ', ' labor_total ', ' material_qty ',
       ' material_unit ', ' material ', ' material_total ', ' equipment_qty ',
       ' equipment_unit ', ' equipment ', ' equipment_total ', ' other_cost1 ',
       ' other_cost2 ', ' other_cost3 ', ' unit_cost ', ' unit_cost_total ',
       'subcontractor_qty', 'subcontractor_total', 'subcontractor',
       ' total_mat_lab_equip ', 'notes', 'project_id', 'project_type_id',
       'phase_id', 'content_id', 'file_id', 'file_name', 'source_file',
       'template_type', 'projectTypeId', 'projectId', 'phaseId', 'contentId',
       'fileId', 'source_file_name', 'unit_7', 'quantity_6', 'unit_cost_24',
       'total_mat_lab_equip_28', 'unit_cost_23', 'project_category',
       'construction_category', 'id'],
      dtype='object')

In [9]:
merged = merged[['division', 'subdivision', 'item_code', 'description', 'quantity',
       'unit', ' labor_hourly_rate ', ' man_hrs_per_unit ',
       ' total_man_hours ', ' labor_total ', ' material_qty ',
       ' material_unit ', ' material ', ' material_total ', ' equipment_qty ',
       ' equipment_unit ', ' equipment ', ' equipment_total ', ' other_cost1 ',
       ' other_cost2 ', ' other_cost3 ', ' unit_cost ', ' unit_cost_total ',
       'subcontractor_qty', 'subcontractor_total', 'subcontractor',
       ' total_mat_lab_equip ', 'notes', 'project_id', 'project_type_id',
       'phase_id', 'content_id', 'file_id', 'file_name', 'source_file',
       'template_type', 'projectTypeId', 'projectId', 'phaseId', 'contentId',
       'fileId', 'source_file_name', 'project_category',
       'construction_category', 'id']]

In [10]:
#encode source_file_name into projectId
merged['projectId'] = merged['source_file_name'].astype('category').cat.codes

In [11]:
merged[' total_mat_lab_equip '] = merged[' total_mat_lab_equip '].str.replace(',', '').str.replace('$', '')

In [12]:
merged[' total_mat_lab_equip '] = merged[' total_mat_lab_equip '].astype('float64')

In [13]:
merged[['description', 'quantity',
       'unit', 
       ' total_mat_lab_equip ', 'project_id', 'project_type_id', 'source_file_name',
       'fileId', 'project_category',
       'construction_category', 'id']].to_csv('cleaned.csv', index=False)

In [14]:
merged = kl.clean_column_names(merged)

("Duplicate column names detected! Columns with index [36, 37, 38, 39, 40] and names ['project_type_id', 'project_id', 'phase_id', 'content_id', 'file_id'] have been renamed to ['project_type_id_36', 'project_id_37', 'phase_id_38', 'content_id_39', 'file_id_40'].",)

In [15]:
merged = merged.drop(columns= ['project_type_id_36', 'project_id_37', 'phase_id_38', 'content_id_39', 'file_id_40'])

In [16]:
len(merged.loc[merged.source_file_name.str.contains('Snapfinger'), 'file_name'].unique())

242

In [17]:
len(merged.loc[merged.source_file_name.str.contains('Snapfinger'), 'source_file_name'].unique())

21

In [18]:
len(merged.loc[:, 'file_name'].unique())

409

In [19]:
merged.columns

Index(['division', 'subdivision', 'item_code', 'description', 'quantity',
       'unit', 'labor_hourly_rate', 'man_hrs_per_unit', 'total_man_hours',
       'labor_total', 'material_qty', 'material_unit', 'material',
       'material_total', 'equipment_qty', 'equipment_unit', 'equipment',
       'equipment_total', 'other_cost1', 'other_cost2', 'other_cost3',
       'unit_cost', 'unit_cost_total', 'subcontractor_qty',
       'subcontractor_total', 'subcontractor', 'total_mat_lab_equip', 'notes',
       'project_id', 'project_type_id', 'phase_id', 'content_id', 'file_id',
       'file_name', 'source_file', 'template_type', 'source_file_name',
       'project_category', 'construction_category', 'id'],
      dtype='object')

In [20]:
columns = ['description', 'quantity', 'unit', 'labor_hourly_rate', 'man_hrs_per_unit', 'total_man_hours',
'labor_total', 'material_qty', 'material_unit', 'material', 'material_total', 'equipment_qty', 'equipment_unit', 'equipment',
'equipment_total', 'other_cost1', 'other_cost2', 'other_cost3','unit_cost', 'unit_cost_total', 'subcontractor_qty',
'subcontractor_total', 'subcontractor', 'total_mat_lab_equip', 'source_file_name']

In [30]:
print(merged.shape)
temp = merged.drop_duplicates(subset=columns)
print(temp.shape)

(29361, 40)
(18319, 40)

In [31]:
# find super outliers in temp
temp = temp.loc[temp.total_mat_lab_equip < 1000000000]

In [32]:
temp.head(5)

,division,subdivision,item_code,description,quantity,unit,labor_hourly_rate,man_hrs_per_unit,total_man_hours,labor_total,...,phase_id,content_id,file_id,file_name,source_file,template_type,source_file_name,project_category,construction_category,id
7,NaN,NaN,NaN,F.11.32.010 Concourse D Widening - (OPTION 4 -...,1.000000,LS,$-,$-,$-,$-,...,NaN,NaN,NaN,F_11_32_010_Concourse_D_Widening.csv,F.11.32.010 Concourse D Widening.xlsx,wbs_1,F.11.32.010 Concourse D Widening.xlsx,Transportation,Commercial,be9fa3f8-6345-4e5a-a4a1-8ac089f5ea9f
8,NaN,NaN,NaN,Site Restoration Allowance,2500.000000,NaN,$-,$-,$-,$-,...,NaN,NaN,NaN,2024_Nov_-_S_Dekalb_Transit_Hub_Cost_Update_WO...,NaN,take_off,2024 Nov - S Dekalb Transit Hub Cost Update WO...,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa
9,NaN,NaN,NaN,Over,190.476191,NaN,$-,$-,$-,$-,...,NaN,NaN,NaN,MARTA_Clayton_County_Multi-Purpose_O&M_Facilit...,NaN,contract_value,MARTA Clayton County Multi-Purpose O&M Facilit...,Offices & Warehouses,Commercial,41808243-8069-41f0-bff5-8bb1f4bc05b2
10,NaN,NaN,NaN,Total Estimated Capital Cost =,1.000000,NaN,$-,$-,$-,$-,...,NaN,NaN,NaN,2025_02_18_I285_BRT__09_Ros_RD_IL.csv,NaN,item_description,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa
11,NaN,NaN,NaN,"Concrete In Place, Platform Paving Bus Bay",625.000000,CY,$-,$-,$-,$-,...,NaN,NaN,NaN,Estimate_1.csv,NaN,take_off,Estimate 1.xlsx,Transportation,Commercial,9e5bd34f-933b-4a61-8d48-c5c37c5b5cbd

In [33]:
all_snapfinger_files = merged.loc[merged.source_file_name.str.contains('Snapfinger'), 'source_file_name'].unique()

keep_files = ['Snapfinger 100 pc Comparison 050824 REVIEW.xlsx']
snap_finger_files_to_drop = [col for col in all_snapfinger_files if col not in keep_files]

temp = temp.loc[~temp.source_file_name.isin(snap_finger_files_to_drop)]

In [46]:
idx_to_drop = temp.loc[(temp.project_category == 'Water & Sewer') & (temp.total_mat_lab_equip > 100000000) & ~(temp.description.str.contains('Concrete'))].index

print(temp.shape)
print(temp.drop(idx_to_drop).shape)

temp = temp.drop(idx_to_drop)

(13118, 40)
(13105, 40)

In [57]:
cols = ['description', 'quantity',
       'unit', 
       'total_mat_lab_equip', 'project_id', 'project_type_id', 'source_file_name',
        'project_category',
       'construction_category', 'id', 'file_name']

In [59]:
display(temp.loc[(temp.project_category == 'Water & Sewer') & (temp.total_mat_lab_equip > 50000000), cols])

,description,quantity,unit,total_mat_lab_equip,project_id,project_type_id,source_file_name,project_category,construction_category,id,file_name
12,"Concrete In Place, Platform Paving Bus Bay",625.0,CY,1.668831e+08,NaN,NaN,2024 Nov - S Dekalb Transit Hub Cost Update 20...,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2024_Nov_-_S_Dekalb_Transit_Hub_Cost_Update_20...
28,"Concrete In Place, Walls ADA Ramp",388.0,CY,1.062270e+08,NaN,NaN,2024 Nov - S Dekalb Transit Hub Cost Update 20...,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2024_Nov_-_S_Dekalb_Transit_Hub_Cost_Update_20...
29,CONSTRUCTION TOTAL (2024) =,1.0,NaN,9.031112e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__10_Ros_OL.csv
30,Station - Elevated (Center of Guideways),1.0,NaN,8.395783e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__09_Ros_RD_IL.csv
31,CONSTRUCTION TOTAL (2024) =,1.0,NaN,8.165678e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__12B_Per_CP_OL_(2).csv
32,CONSTRUCTION TOTAL (2024) =,1.0,NaN,8.069008e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__03_CumPInl.csv
33,CONSTRUCTION BASE SUBTOTAL (2024) =,1.0,NaN,7.953403e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__10_Ros_OL.csv
34,CONSTRUCTION TOTAL (2024) =,1.0,NaN,7.883299e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__14_Dor_IL.csv
35,Total Estimated Capital Cost =,1.0,NaN,7.751887e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__19_IC_OL_NR.csv
36,CONSTRUCTION TOTAL (2024) =,1.0,NaN,7.547787e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__18_LawH_IL.csv
37,CONSTRUCTION TOTAL (2024) =,1.0,NaN,7.530112e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__02_DLHoll_IL.csv
41,CONSTRUCTION BASE SUBTOTAL (2024) =,1.0,NaN,7.190906e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__12B_Per_CP_OL_(2).csv
42,Total Estimated Capital Cost =,1.0,NaN,7.166983e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__11_Per_CP_IN.csv
52,CONSTRUCTION BASE SUBTOTAL (2024) =,1.0,NaN,7.105734e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__03_CumPInl.csv
53,CONSTRUCTION TOTAL (2024) =,1.0,NaN,7.030917e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__05_CumBInl.csv
54,CONSTRUCTION BASE SUBTOTAL (2024) =,1.0,NaN,6.942113e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__14_Dor_IL.csv
55,CONSTRUCTION TOTAL (2024) =,1.0,NaN,6.707845e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__08_Cumb_H.csv
56,CONSTRUCTION BASE SUBTOTAL (2024) =,1.0,NaN,6.646508e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__18_LawH_IL.csv
57,CONSTRUCTION BASE SUBTOTAL (2024) =,1.0,NaN,6.630936e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__02_DLHoll_IL.csv
60,"Sanitary Sewer 8"" DI",600.0,LF,6.516000e+07,NaN,NaN,2024 Nov - S Dekalb Transit Hub Cost Update 20...,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2024_Nov_-_S_Dekalb_Transit_Hub_Cost_Update_20...
63,CONSTRUCTION BASE SUBTOTAL (2024) =,1.0,NaN,6.191116e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__05_CumBInl.csv
65,CONSTRUCTION BASE SUBTOTAL (2024) =,1.0,NaN,5.906471e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__08_Cumb_H.csv
66,Estimated Project Total,1.0,NaN,5.688330e+07,NaN,NaN,Snapfinger 100 pc Comparison 050824 REVIEW.xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,Snapfinger_100_pc_Comparison_050824_REVIEW_Sec...
68,TOTAL SOFT COST (2024) =,1.0,NaN,5.606614e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__09_Ros_RD_IL.csv
69,Access Ramps - New,1.0,NaN,5.493240e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__10_Ros_OL.csv
70,Total Estimated Capital Cost =,1.0,NaN,5.113914e+07,NaN,NaN,2025_02_18_I285 BRT .xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,2025_02_18_I285_BRT__04_CumPOff_QQ.csv
76,Estimated Project Total,1.0,NaN,5.041570e+07,NaN,NaN,Snapfinger 100 pc Comparison 050824 REVIEW.xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,Snapfinger_100_pc_Comparison_050824_REVIEW_Sec...
218,* Direct Costs -STRUCTURES/FACILITIES,1.0,LS,6.887543e+07,NaN,NaN,Walnut Creek Expansion.xlsx,Water & Sewer,"Civil, Infrastructure & Landscaping",d92accc5-0f88-4784-b6d9-c0cf15d7efaa,Walnut_Creek_Expansion.csv

In [60]:
print(temp.shape)

temp = temp.loc[~(temp.description.str.upper().str.contains('TOTAL'))]

print(temp.shape)

(13105, 40)
(12965, 40)

In [61]:
temp.total_mat_lab_equip.sum()

16410879477.38

In [62]:
temp[['description', 'quantity',
       'unit', 
       'total_mat_lab_equip', 'project_id', 'project_type_id', 'source_file_name',
        'project_category',
       'construction_category', 'id', 'file_name']].to_csv('cleaned.csv', index=False)

In [25]:
temp_df = temp.groupby('source_file_name')['total_mat_lab_equip'].sum().reset_index()

# bin

In [26]:
merged.loc[merged.source_file_name.str.contains('Snapfinger'), 'file_name'].unique()

array(['Snapfinger_100_pc_Comparison_050724_Sec_1_100_pc.csv',
       'Snapfinger_100_pc_Comparison_050724_Sec_2_100_pc.csv',
       'Snapfinger_30_pc_OPCC_REPORT_-_Concept_Comp_Section_1.csv',
       'Snapfinger_30_pc_OPCC_REPORT_--_PCS_Section_1.csv',
       'Snapfinger_30_pc_vs_Concept_Qty_Comp_102223_Section_1.csv',
       'Snapfinger_100_pc_Compare_043024_UP_Section_1.csv',
       'Snapfinger_60_pc_Compare_022924_UP_Section_1.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_Section_1.csv',
       'Snapfinger_30_pc_vs_Concept_Qty_Comp_102223_Rev_Section_1.csv',
       'Snapfinger_100_pc_Comparison_050724_Section_1.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_Section_1.csv',
       'Snapfinger_90_pc_Compare_030624_UP_Section_1.csv',
       'Snapfinger_60_pc_012624_Sect_1_2_FRP_Section_1.csv',
       'Snapfinger_60_pc_Compare_020824_UP_Section_1.csv',
       'Snapfinger_100_pc_Comparison_050824_REVIEW_Sec_1_100%_PRINT.csv',
       'Snapfinger_100_pc_Comparison_050824_REVIEW_Sec_1_100_pc.csv',
       'Snapfinger_100_pc_Compare_043024_UP_Sec_1_100_pc.csv',
       'Snapfinger_100_pc_Compare_043024_UP_Sec_1_90_pc.csv',
       'Snapfinger_90_pc_Compare_030624_UP_Sec_1_90_pc.csv',
       'Snapfinger_90_pc_Compare_030624_UP_Sec_1_100_pc.csv',
       'Snapfinger_100_pc_Comparison_050724_Sec_1_90_pc.csv',
       'Snapfinger_100_pc_Comparison_050824_REVIEW_Sec_1_90_pc.csv',
       'Snapfinger_30_pc_vs_Concept_Qty_Comp_102223_Section_2.csv',
       'Snapfinger_30_pc_OPCC_REPORT_--_PCS_Section_2.csv',
       'Snapfinger_30_pc_OPCC_REPORT_-_Concept_Comp_Section_2.csv',
       'Snapfinger_60_pc_012624_Sect_1_2_FRP_Sec_1_60_pc.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_Sec_1_60_pc.csv',
       'Snapfinger_60_pc_Compare_020824_UP_Sec_1_60_pc.csv',
       'Snapfinger_90_pc_Compare_030624_UP_Sec_1_60_pc.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_Sec_1_60_pc.csv',
       'Snapfinger_60_pc_Compare_022924_UP_Sec_1_60_pc.csv',
       'Snapfinger_100_pc_Comparison_050724_Sec_1_60_pc.csv',
       'Snapfinger_100_pc_Compare_043024_UP_Sec_1_60_pc.csv',
       'Snapfinger_30pc_Compare_Draft_102323_Alt_3_PCS.csv',
       'Snapfinger_100_pc_Compare_043024_UP_Sec_1_Print_30_pc.csv',
       'Snapfinger_60_pc_Compare_022924_UP_Sec_1_Print_30_pc.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_Sec_1_Print_30_pc.csv',
       'Snapfinger_60_pc_Compare_020824_UP_Sec_1_Print_30_pc.csv',
       'Snapfinger_30_pc_vs_Concept_Qty_Comp_102223_Rev_Sec_1_Print.csv',
       'Snapfinger_30_pc_vs_Concept_Qty_Comp_102223_Sec_1_Print.csv',
       'Snapfinger_30_pc_OPCC_REPORT_-_Concept_Comp_Sec_1_Print.csv',
       'Snapfinger_100_pc_Comparison_050724_Sec_1_Print_30_pc.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_Sec_1_Print_30_pc.csv',
       'Snapfinger_60_pc_012624_Sect_1_2_FRP_Sec_1_Print_30_pc.csv',
       'Snapfinger_30_pc_OPCC_REPORT_--_PCS_Sec_1_Print.csv',
       'Snapfinger_90_pc_Compare_030624_UP_Sec_1_Print_30_pc.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_Section_2.csv',
       'Snapfinger_60_pc_Compare_020824_UP_Section_2.csv',
       'Snapfinger_90_pc_Compare_030624_UP_Section_2.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_Section_2.csv',
       'Snapfinger_100_pc_Compare_043024_UP_Section_2.csv',
       'Snapfinger_60_pc_012624_Sect_1_2_FRP_Section_2.csv',
       'Snapfinger_60_pc_Compare_022924_UP_Section_2.csv',
       'Snapfinger_30_pc_vs_Concept_Qty_Comp_102223_Rev_Section_2.csv',
       'Snapfinger_100_pc_Comparison_050724_Section_2.csv',
       'Snapfinger_100_pc_Comparison_050824_REVIEW_Sec_2_100%PRINT.csv',
       'Snapfinger_100_pc_Comparison_050824_REVIEW_Sec_2_100_pc.csv',
       'Snapfinger_60_pc_012624_Sect_1_2_FRP_Sec_2_60_pc.csv',
       'Snapfinger_60_pc_Compare_022924_UP_Sec_2_60_pc.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_Sec_2_60_pc.csv',
       'Snapfinger_60_pc_Compare_020824_UP_Sec_2_60_pc.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_Sec_2_60_pc.csv',
       'Snapfinger_90_pc_Compare_030624_UP_Sec_2_60_pc.csv',
       'Snapfinger_100_pc_Comparison_050724_Sec_2_60_pc.csv',
       'Snapfinger_100_pc_Compare_043024_UP_Sec_2_60_pc.csv',
       'Snapfinger_100_pc_Compare_043024_UP_Sec_2_100_pc.csv',
       'Snapfinger_30pc_Compare_Draft_102323_Alt_2_PCS.csv',
       'Snapfinger_90_pc_Compare_030624_UP_Sec_2_100_pc.csv',
       'Snapfinger_90_pc_Compare_030624_UP_Sec_2_90_pc.csv',
       'Snapfinger_100_pc_Compare_043024_UP_Sec_2_90_pc.csv',
       'Snapfinger_60_pc_Compare_022924_UP_Sec_2_Print_30_pc.csv',
       'Snapfinger_60_pc_Compare_020824_UP_Sec_2_Print_30_pc.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_Sec_2_Print_30_pc.csv',
       'Snapfinger_100_pc_Compare_043024_UP_Sec_2_Print_30_pc.csv',
       'Snapfinger_30_pc_vs_Concept_Qty_Comp_102223_Rev_Sec_2_Print.csv',
       'Snapfinger_60_pc_012624_Sect_1_2_FRP_Sec_2_Print_30_pc.csv',
       'Snapfinger_30_pc_OPCC_REPORT_-_Concept_Comp_Sec_2_Print.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_Sec_2_Print_30_pc.csv',
       'Snapfinger_30_pc_vs_Concept_Qty_Comp_102223_Sec_2_Print.csv',
       'Snapfinger_30_pc_OPCC_REPORT_--_PCS_Sec_2_Print.csv',
       'Snapfinger_100_pc_Comparison_050724_Sec_2_Print_30_pc.csv',
       'Snapfinger_90_pc_Compare_030624_UP_Sec_2_Print_30_pc.csv',
       'Snapfinger_100_pc_Comparison_050724_Sec_2_90_pc.csv',
       'Snapfinger_100_pc_Comparison_050824_REVIEW_Sec_2_90_pc.csv',
       'Snapfinger_30pc_Compare_Draft_102323_Alt_1_Stanley.csv',
       'Snapfinger_30pc_Compare_Draft_102323_Alt_3_Stanley.csv',
       'Snapfinger_60_pc_Compare_022924_UP_ESC_P2.csv',
       'Snapfinger_60_pc_012624_Sect_1_2_FRP_ESC_P1.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_ESC_P2.csv',
       'Snapfinger_100_pc_Comparison_050724_ESC_P1.csv',
       'Snapfinger_90_pc_Compare_030624_UP_ESC_P2.csv',
       'Snapfinger_60_pc_Compare_020824_UP_ESC_P2.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_ESC_P2.csv',
       'Snapfinger_100_pc_Compare_043024_UP_ESC_P2.csv',
       'Snapfinger_60_pc_012624_Sect_1_2_FRP_ESC_P2.csv',
       'Snapfinger_60_pc_Compare_020824_UP_ESC_P1.csv',
       'Snapfinger_90_pc_Compare_030624_UP_ESC_P1.csv',
       'Snapfinger_100_pc_Comparison_050724_ESC_P2.csv',
       'Snapfinger_100_pc_Comparison_050824_REVIEW_ESC_P2.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_ESC_P1.csv',
       'Snapfinger_60_pc_Compare_022924_UP_ESC_P1.csv',
       'Snapfinger_100_pc_Comparison_050824_REVIEW_ESC_P1.csv',
       'Snapfinger_100_pc_Compare_043024_UP_ESC_P1.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_ESC_P1.csv',
       'Snapfinger_30pc_Compare_Draft_102323_Alt_2_Stanley.csv',
       'Snapfinger_30pc_Compare_Draft_102323_Alt_1.csv',
       'Snapfinger_30pc_Compare_Draft_102323_Alt_3.csv',
       'Snapfinger_30pc_Compare_Draft_102323_Alt_2.csv',
       'Snapfinger_90_pc_Compare_030624_UP_LP_Comp_1.csv',
       'Snapfinger_60_pc_Compare_020824_UP_LP_Comp_1.csv',
       'Snapfinger_100_pc_Compare_043024_UP_LP_Comp_1.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_LP_Comp_1.csv',
       'Snapfinger_100_pc_Comparison_050724_LP_Comp_1.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_LP_COMP1_and_2.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_LP_COMP1_and_2.csv',
       'Snapfinger_60_pc_Compare_022924_UP_LP_Comp_1.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_LP_Comp_1.csv',
       'Snapfinger_100_pc_Comparison_050824_REVIEW_Analysis1.csv',
       'Snapfinger_100_pc_Comparison_050824_REVIEW_Analysis2.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_54"_20.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_48"_20.csv',
       'Snapfinger_60_pc_Compare_020824_UP_COMPARE_2_vs_2.csv',
       'Snapfinger_60_pc_Compare_022924_UP_COMPARE_2_vs_2.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_COMPARE_2_vs_2.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_COMPARE_2_vs_2.csv',
       'Snapfinger_60_pc_Compare_013024_Sect_1_2_LP_Comp_2.csv',
       'Snapfinger_60_pc_Compare_022924_UP_LP_Comp_2.csv',
       'Snapfinger_60_pc_Compare_020824_UP_LP_Comp_2.csv',
       'Snapfinger_100_pc_Compare_043024_UP_LP_Comp_2.csv',
       'Snapfinger_90_pc_Compare_030624_UP_LP_Comp_2.csv',
       'Snapfinger_100_pc_Compare_043024_UP_COMPARE_2_vs_2.csv',
       'Snapfinger_90_pc_Compare_030624_UP_COMPARE_2_vs_2.csv',
       'Snapfinger_100_pc_Comparison_050724_LP_Comp_2.csv',
       'Snapfinger_60_pc_Compare_020124_Sect_1_2_LP_Comp_2.csv',
       'Snapfinger_100_pc_Comparison_050724_COMPARE_2_vs_2.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_72"_20.csv',
       'Snapfinger_Misc_Unit_Price_Wksht_101523_Access_Road.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_72"_25.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_48"_25.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_54"_35.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_54"_30.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_54"_25.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_48"_30.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_54"_15.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_Junc_Str_100%_16_-_23.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_72"_30.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_84_38_to_44.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_84_38_to_44.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_72_31_to_35.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_72_31_to_35.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_84_38_to_44.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_84_38_to_44.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_72_25_to_30.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_72_25_to_30.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_96_30_to_35.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_48"_15.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_96_30_to_35.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_84_30_to_35.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_84_30_to_35.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_84_24_to_30.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_84_24_to_30.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_72"_15.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_96_16_to_23.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_96_16_to_23.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_108_40_to_44.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_84_16_to_23.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_84_16_to_23.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_Junction_Chamber_16_to_23.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_84_16_to_23.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_84_16_to_23.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_72_31_to_35.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_72_31_to_35.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_Junction_Chamber_16_to_23.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_Junction_Chamber_16_to_23.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_72_24_to_30.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_72_24_to_30.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_84_31_to_40.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_72_31_to_40.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_72_21_to_25.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_72_21_to_25.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_108_23_to_30.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_108_16_to_23.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_120_17_to_23.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_72_16_to_23.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_72_16_to_23.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_96_16_to_23.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_24"_25.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_84_16_to_23.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_72_23_to_30.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_72_16_to_23.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_72_16_to_20.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_72_16_to_20.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_48_16_to_23.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_72_9_to_16.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_60_13_to_16.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_48_17_to_23.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_60_13_to_16.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_48_13_to_16.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_48_17_to_21.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_48_17_to_21.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_48_13_to_16.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_60_13_to_16.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_60_13_to_16.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_Junction_Chamber_16_to_23.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_48_13_to_16.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_48_13_to_16.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_48_8_to_12.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_48_9_to_16.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_48_8_to_12.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_36"_20.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_54"_40.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_48_6_to_12.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_48_6_to_12.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_Alt_1_66"_(26).csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_Alt_1_66"_(28).csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_Alt_1_66"_(25).csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_Alt_1_66"_(27).csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_60"_10.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_Alt_1_60"_(22).csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_Alt_1_60"_(25).csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_Alt_1_60"_(23).csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_Doghouse_48_6_to_8.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_Doghouse_48_6_to_8.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_Remove_Dispose.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_Remove_Dispose.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_Remove_Dispose.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_Remove_Dispose.csv',
       'Snapfinger_S1_Pipe_Unit_Price_Wksht_101523_S1_8"_20.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_Abandon.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_Abandon.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_Abandon.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_Abandon.csv',
       'Snapfinger_100_pc_Compare_043024_UP_LP_COMP1_and_2.csv',
       'Snapfinger_100_pc_Comparison_050724_LP_COMP1_and_2.csv',
       'Snapfinger_90_pc_Compare_030624_UP_LP_COMP1_and_2.csv',
       'Snapfinger_60_pc_Compare_020824_UP_LP_COMP1_and_2.csv',
       'Snapfinger_60_pc_Compare_022924_UP_LP_COMP1_and_2.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_022924_MH_Structure.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_022924_MH_Structure.csv',
       'Snapfinger_S2_Manhole_Unit_Price_Wksht_050624_MH_Structure.csv',
       'Snapfinger_S1_Manhole_Unit_Price_Wksht_050624_MH_Structure.csv',
       'Snapfinger_S1_S2_Manhole_Unit_Price_Wksht_101523_MH_Structure.csv'],
      dtype=object)

In [27]:
merged[['file_name', 'source_file_name']].loc[merged.source_file_name.str.contains('Snapfinger')].drop_duplicates().to_csv('snapfinger_cleanup.csv', index=False)

In [ ]:
avg_df = temp.groupby(['project_category', 'file_name'])['total_mat_lab_equip'].count().reset_index()
avg_df = avg_df.groupby('project_category')['total_mat_lab_equip'].mean().reset_index()
avg_df.columns = ['project_category', 'avg_line_item_count']

           project_category  total_mat_lab_equip
0                     Civil            81.058824
1               Educational           261.000000
2   Electrical & Mechanical            74.000000
3                Government            63.200000
4           Hotels & Motels           117.000000
5                Industrial            61.071429
6      Offices & Warehouses            98.333333
7                 Religious           110.000000
8               Residential            30.000000
9            Transportation            69.000000
10            Water & Sewer            65.780000